.info {
   .title {
      color: #515365;
      display: inline-block;
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 5px;
      width: 100%;
      text-transform: capitalize;
   }

   p {
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 20px;
      padding-left: 20px;
   }
}