.add_new_message {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin-top: 10px;
    width: 97%;
}

.area_wrapper {
    display: flex;
    justify-content: center;
}

.area {
    display: flex;
    min-width: 99%;
    max-width: 99%;
    min-height: 80px;
    max-height: 80px;
    width: 100%;
}

.button_wrapper {
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 0;
}

.add_message_button {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    border: none;
    background-color: #5181b8;
    border-radius: 4px;
    padding: 7px 16px 8px;
    color: white;
}

.add_message_button:hover {
    cursor: pointer;
    background-color: #5f90dc;
}