.add_new_message
{
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;

    width: 97%;
    margin-top: 10px;
}

.area_wrapper
{
    display: flex;
    justify-content: center;
}

.area
{
    width: 99%;

    composes: area from './../../../index.css';
}

.button_wrapper
{
    display: flex;
    flex-direction: column;

    padding: 5px 0 5px 0;
}

.add_message_button
{
    composes: btn from './../../../index.css';
}
