.post {
    font-size: 13px;
    line-height: 1.5;
    display: flex;
    border: 1px solid #a1a1a1;
    background-color: rgba(255, 255, 255, .62);
    padding: 10px;
    margin: 5px 0;
}

.postUserPhoto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}


.postUserPhoto img {
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
}

.post_message {
    display: flex;
    width: 80%;
    max-height: 150px;
    align-self: center;
    justify-content: flex-start;
}

.likes_count {
    font-weight: 600;

    display: flex;
    align-self: center;
    justify-content: center;
    width: 10%;
    padding: 5px;
}
