.post
{
    font-size: 13px;
    line-height: 1.5;

    display: grid;

    padding-bottom: 10px;

    border: 1px solid #a1a1a1;
    background-color: rgba(255, 255, 255, .62);

    grid-template-areas: 'user_photo' 'message' 'likes';
    grid-template-rows: 50px auto 15px;
}

.post img
{
    width: 50px;
    height: 50px;
    padding: 5px;

    border-radius: 50%;
}

.post_user_photo img
{
    display: grid;
    align-self: center;
    justify-content: start;

    grid-area: user_photo;
}

.post_message
{
    display: grid;
    align-self: center;
    justify-content: start;

    max-height: 150px;
    padding: 5px;

    grid-area: message;
}

.likes_count
{
    font-weight: 600;

    display: grid;
    align-self: center;
    justify-content: start;

    padding: 5px;

    grid-area: likes;
}
