.add_new_posts
{
    display: flex;
    align-self: flex-start;
    flex-direction: column;

    width: 350px;
}

.area_wrapper
{
    display: flex;
    flex-direction: column;
}

.area
{
    width: 98%;

    composes: area from './../../../../index.css';
}

.button_wrapper
{
    display: flex;
    flex-direction: column;

    padding-top: 5px;

    text-align: center;
}

.add_post_button
{
    composes: btn from './../../../../index.css';
}
