.add_new_posts {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 350px;
}

.area_wrapper {
    display: flex;
    flex-direction: column;
}

.area {
    max-width: 98%;
    min-width: 98%;
    width: 98%;
    height: 80px;
    max-height: 80px;
    min-height: 80px;
}

.button_wrapper {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 5px;
}

.add_post_button {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    border: none;
    background-color: #5181b8;
    border-radius: 4px;
    padding: 7px 16px 8px;
    color: white;
}

.add_post_button:hover {
    cursor: pointer;
    background-color: #5f90dc;
}