.navbar_wrapper {
    width: 200px;
    padding-left: 10px;
    padding-top: 20px;
    margin-right: 15px;
}

.link_wrapper {
    padding: 5px 0 5px 5px;
}

.link_wrapper a.activeLink {
    font-weight: 500;
}

.link_wrapper a {
    text-decoration: none;
    color: #2a5885;
}

.link_wrapper:hover {
    cursor: pointer;
    background-color: #3d79b62c;
}
