.statusWrapper {
   .status {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;

      .btnWrapper {
         width: auto;
         display: flex;
         justify-content: center;
      }

      input {
         width: 98%;
         border: 1px solid #dbd6d6;
         border-radius: 5px;
         margin-bottom: 10px;
         padding: 5px;
      }
   }

   .editStatus {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;

      .btnWrapper {
         width: 100%;
         display: flex;
         justify-content: center;
      }

      span {
         width: 100%;
         margin-bottom: 10px;
      }
   }
}
