.profile_wrapper
{
    font-size: 13px;

    display: grid;

    grid-area: profile_wrapper;
    grid-template-areas: 'profile_photo profile_info'
    'profile_photo sidebar';
    grid-template-columns: auto 1fr;
    grid-gap: 15px;
}

.profile_photo
{
    display: grid;
    overflow: hidden;
    align-self: center;
    justify-content: center;

    width: auto;
    padding: 10px;

    background: white;
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .22);

    grid-area: profile_photo;
}

.profile_photo img
{
    max-height: 400px;
}

.profile_wrapper .profile_info
{
    display: grid;
    align-self: start;

    height: auto;
    padding: 10px;

    background: white;
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .22);

    grid-area: profile_info;
    grid-template-areas: 'user_name' 'status' 'descriptions-wrapper' 'friends';
    grid-gap: 5px;
}

.profile_wrapper .profile_info .user_name
{
    font-size: 20px;

    display: grid;
    align-self: center;
    justify-content: start;

    max-height: 25px;
    padding: 5px;

    grid-area: user_name;
}

.profile_wrapper .profile_info .status
{
    display: grid;
    align-self: center;

    height: auto;
    max-height: 50px;
    margin: 5px;
    padding: 5px 0 5px 0;

    border-bottom: 1px solid #aeaeae;

    grid-area: status;
}

.profile_wrapper .profile_info .descriptions_wrapper
{
    display: grid;

    padding: 5px;

    grid-area: descriptions-wrapper;
    grid-template-rows: auto;
    grid-gap: 5px;
}

.profile_info .descriptions_wrapper .description
{
    background-color: goldenrod;
}
