.profile_wrapper {
    grid-area: profile_wrapper;
    display: grid;
    grid-template-areas: "profile_photo profile_info";
    grid-template-columns: 0.5fr 1fr;
    grid-gap: 15px;
}

.profile_photo {
    grid-area: profile_photo;
    display: grid;
    overflow: hidden;
    background: white;
    padding: 10px;
    box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.22);
}

.profile_photo img {
    box-sizing: unset;
    border-radius: 2px;
    width: 100%;
    height: auto;
}

.profile_wrapper .profile_info {
    grid-area: profile_info;
    grid-template-areas: "status" "descriptions-wrapper";
    display: grid;
    grid-gap: 5px;
    padding: 10px;
    background: white;
    box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.22);
}

.profile_wrapper .profile_info .status {
    grid-area: status;
    display: grid;
    background-color: darkred;
}

.profile_wrapper .profile_info .descriptions_wrapper {
    grid-area: descriptions-wrapper;
    display: grid;
    grid-template-rows: auto;
    grid-gap: 5px;
}

.profile_info .descriptions_wrapper .description {
    background-color: goldenrod;
}