.formControl.error input,
.formControl.error textarea {
   border: 5px solid red;
}

.formControl.error span {
   color: red;
   font-size: 18px;
}

.childrenWrapperStyle {
   display: flex;
   justify-content: flex-end;
}

