.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45px;
    background: #4a76a8;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 986px;
    margin: 0 auto;
}

.header .logo_name {
    font-size: 25px;
    font-weight: 800;
    display: inline;
    align-self: center;
    justify-content: start;
    width: 100%;
    color: rgb(255, 255, 255);
}

.header .logo_explanation {
    font-size: 14px;
    font-weight: normal;
    display: inline;
}

.user_login {
    display: flex;
}

.login {
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
    display: flex;
    width: 100%;
    color: rgb(255, 255, 255);
}

.login a {
    text-decoration: none;
    color: white;
}
