.header
{
    display: grid;
    align-self: center;

    width: 100%;

    background: #4a76a8;

    grid-area: header;
    grid-template-columns: .5fr 1fr 5fr;
}

.header img
{
    width: 50px;
    padding: 0 10px 0 20px;
}

.header .logo_name
{
    font-size: 22px;
    font-weight: 800;

    display: inline;
    align-self: center;
    justify-content: start;

    padding: 0 5px 0 5px;

    transition: all 200ms;

    color: rgb(255, 255, 255);
}

.header .logo_explanation
{
    font-size: 12px;
    font-weight: normal;

    display: inline;
}

.header .login
{
    font-size: 16px;

    display: grid;
    align-self: center;
    justify-content: end;

    margin-right: 30px;

    color: rgb(255, 255, 255);
}

.header .login a
{
    text-decoration: none;

    color: white;
}
