.post_wrapper
{
    display: flex;
    flex-direction: column;

    padding: 10px;

    background: white;
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .22);

    grid-gap: 10px;
}

.my_posts_headline
{
    color: #1d1f21;
}
