.post_wrapper
{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px 0;
    padding: 10px;

    background: white;
    /*box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .22);*/

    grid-gap: 10px;
}

.my_posts_headline
{
    color: #1d1f21;
}

.add_new_posts
{
    display: flex;
    align-self: flex-start;
    flex-direction: column;

    width: 350px;
}

.area_wrapper
{
    display: flex;
    flex-direction: column;
}

.area
{
    width: 98%;

    composes: area from './../../../index.css';
}

.button_wrapper
{
    display: flex;
    flex-direction: column;

    padding-top: 5px;

    text-align: center;
}

.add_post_button
{
    composes: btn from './../../../index.css';
}
