.dialogs_container
{
    display: grid;

    width: 100%;

    background: #fcfcfc;

    grid-template-areas: 'dialogs_headline dialogs_headline' 'dialogs messages';
    grid-template-columns: .2fr 1fr;
    grid-template-rows: 35px auto;
}

.my_dialogs_headline
{
    display: grid;
    align-self: center;

    height: auto;
    padding: 5px 5px 5px 15px;

    border-bottom: 1px solid #aeaeae;

    grid-area: dialogs_headline;
}

.dialogs_wrapper
{
    display: grid;
    align-self: start;

    height: auto;

    grid-area: dialogs;
}

.messages_wrapper
{
    display: grid;
    align-self: start;

    grid-area: messages;
    grid-template-rows: auto auto;
}

.message_block
{
    overflow-y: scroll;

    height: auto;
    max-height: 350px;
}

.add_new_message
{
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;

    width: 97%;
    margin-top: 10px;
}

.area_wrapper
{
    display: flex;
    justify-content: center;
}

.area
{
    width: 99%;

    composes: area from './../../index.css';
}

.button_wrapper
{
    display: flex;
    flex-direction: column;

    padding: 5px 0 5px 0;
}

.add_message_button
{
    composes: btn from './../../index.css';
}

