.dialogs_container {
    display: grid;
    grid-template-areas: "dialogs_headline dialogs_headline" "dialogs messages";
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 35px auto;
    background: #fcfcfc;
    width: 100%;
}

.my_dialogs_headline {
    grid-area: dialogs_headline;
    display: grid;
    align-self: center;
    height: auto;
    border-bottom: 1px solid #aeaeae;
    padding: 5px 5px 5px 15px;
}

.dialogs_wrapper {
    grid-area: dialogs;
    display: grid;
    height: auto;
    align-self: start;
}

.messages_wrapper {
    grid-area: messages;
    display: grid;
    grid-template-rows: auto auto;
    align-self: start;
}

.message_block {
    overflow-y: scroll;
    height: auto;
    max-height: 350px;
}