.app {
   width: 100%;
   margin: 0 auto;
   height: auto;

   .container {
      background: #edf2f6;
      padding: 0 6px;
      margin-right: auto;
      margin-left: auto;
      max-width: 1140px;

      .content {
         display: flex;
      }
   }
}