@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.all_wrapper
{
    font-family: 'Montserrat', sans-serif;

    display: grid;

    width: 100%;
    min-width: 986px;
    height: 100%;
    min-height: 800px;

    background: rgba(219, 219, 219, .83);

    grid-template-areas: 'header';
    grid-template-rows: 40px 1fr;
    grid-gap: 10px;
}

.app_wrapper
{
    display: flex;

    width: 100%;
    max-width: 986px;
    margin: 0 auto;
}
