body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 18px;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    padding: 7px 16px 8px;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: #5181b8;
}

.btn:hover {
    cursor: pointer;
    background-color: #5f90dc;
}

.area {
    display: flex;
    width: 98%;
    height: 80px;
    resize: none;
}

