.post_wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px 0;
    padding: 10px;
    width: content-box;
    background: white;
}

.my_posts_headline {
    color: #1d1f21;
}

.add_new_posts {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 100%;
}

.area_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button_wrapper {
    display: flex;
    padding-top: 5px;
    justify-content: flex-end;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.area {
    height: 150px;
    width: 50%;
    resize: none;
}
